<h3>Post Form</h3>

<%= form_for(@post) do |f| %>
  <label>Post title:</label><br>
  <%= f.text_field :title %><br>
  
  <!--By passing in the attribute as a symbol (e.g. :title) that will automatically tell the form field what model attribute to be associated with. It also is what auto-fills the values for us. -->
 
  <label>Post description</label><br>
  <%= f.text_area :description %><br>
  
  <%= f.submit %>
  
<%end%>